<footer>
  <ul>
    <li>
      <a
        href="https://x.com/Shin_Engineer"
        target="_blank"
        rel="noreferrer noopener"
        ><img src="/src/icons/twitter.svg" width="40" height="40" /></a
      >
    </li>
    <li>
      <a
        href="https://github.com/Shin-sibainu"
        target="_blank"
        rel="noreferrer noopener"
      >
        <img src="/src/icons/github.svg" width="40" height="40" />
      </a>
    </li>
  </ul>
</footer>
