---

---

<header>
  <nav>
    <a href="/">
      <img src="/favicon.svg" alt="" width="28" height="28" />
      ShinCode Blog
    </a>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
